.registerContainer {

    display: flex;
    flex-direction: Column;
    place-content: center;
    margin-left: 35vw;
    margin-right: 35vw;
    background-image: linear-gradient(#1d1950, rgb(14, 15, 14));
    border-radius: 12px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: cyan;
    box-shadow: 2px 14px 14px 8px rgba(14, 19, 171, 0.3);
}

.button {
    width: 27vw;
}

.heading {

    /* padding: '8vw'; */
    margin: 2vw 8vw 8vw 8vw;

    padding: 15px;
    position: sticky;
    background-color: rgb(11, 194, 179);
    border-radius: 4px;
}

@media screen AND (max-Width:800px) {
    .register {
        margin-bottom: 8vw;
    }

    .registerContainer {
        margin-left: 5vw;
        margin-right: 5vw;


    }

    .heading {
        margin-left: 21vw;
        margin-right: 21vw;
        margin-bottom: 18vw;
        /* padding: 15px; */

    }

    .button {
        width: 78vw;
    }

}